.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.font-24 {
  font-size: 24px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-16 {
  padding-left: 15px;
  padding-right: 16px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.inputBackground {
  background: #1B233B;
}

.colorMain {
  color: #1194F7;
}

.btnMain {
  background: #1194F7;
}

.leftReturn {
  width: 7px;
  height: 14px;
}

.tabBackground {
  background: $mainBgColor;
}

.chatBg {
  background: $mainBgColor;
}

.text-grey {
  color: #818181;
}

.font-700 {
  font-weight: 700;
}

.font-600 {
  font-weight: 600;
}
.text-blue {
  color: $blue;
}
.px-30{
  padding: 0 15px;
}

.h-30{
  height: 60px;
}
.w-30{
  width: 60px;
}
